div{
    border-style: outset;
    border-width: thick;
    border-color: cornsilk;
    background-color: greenyellow;
    margin: 1%;
}

h1{
    font-family: fantasy;
}

h2{
    font-family: fantasy;
    font-style: italic;
}

#header{
    padding: 1% 33%;
}

div.service{
    padding: 1% 30%;
}

body{
   background-color: black; 
}

input.button{
    /*background: #222 url(overlay.png) repeat-x;*/
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    background-color: #749a02;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    font-size: 13px;
}

input.text{
    border-style: inset;
}